@page "/Register"
<h3>Register</h3>

@if (!string.IsNullOrEmpty(Message))
{
    <div class="alert alert-danger">
        @Message
    </div>
}

<div class="row">
    <div class="col-md-4">
        <EditForm Model="@Model" OnValidSubmit="HandleRegister">
            <DataAnnotationsValidator />
            <ValidationSummary />
            
            <div class="form-group">
                <label class="control-label">First Name</label>
                <InputText id="FirstName" class="form-control" @bind-Value="Model.FirstName" />
                <ValidationMessage For="@(() => Model.FirstName)"/>
            </div>
            
            <div class="form-group">
                <label class="control-label">Last Name</label>
                <InputText id="LastName" class="form-control" @bind-Value="Model.LastName" />
                <ValidationMessage For="@(() => Model.LastName)"/>
            </div>

            <div class="form-group">
                <label class="control-label">Email</label>
                <InputText id="Email" type="Email" class="form-control" @bind-Value="Model.Email" />
                <ValidationMessage For="@(() => Model.Email)"/>
            </div>

            <div class="form-group">
                <label class="control-label">User Name</label>
                <InputText id="UserName" class="form-control" @bind-Value="Model.UserName" />
                <ValidationMessage For="@(() => Model.UserName)"/>
            </div>
            
            <div class="form-group">
                <label class="control-label">Password</label>
                <InputText id="password" type="Password" class="form-control" @bind-Value="Model.Password" />
                <ValidationMessage For="@(() => Model.Password)"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </EditForm>
    </div>
</div>