@page "/leaverequests/create/"
@using CleanArchitecture.BlazorUI.Models.LeaveTypes

<h3>Apply for leave</h3>

<EditForm Model="@LeaveRequest" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="from-group">
        <label for="startDate">Start Date</label>
        <InputDate @bind-Value="LeaveRequest.StartDate" id="startDate" class="form-control" />
        <ValodationMessage For="@(() => LeaveRequest.StartDate)" />
    </div>
    <div class="from-group">
        <label for="endDate">End Date</label>
        <InputDate @bind-Value="LeaveRequest.EndDate" id="endDate" class="form-control" />
        <ValodationMessage For="@(() => LeaveRequest.EndDate)" />
    </div>
    <div class="from-group">
        <label for="leaveTypeId">Leave Type</label>
        <InputSelect @bind-Value="LeaveRequest.LeaveTypeId" id="leaveTypeId" class="form-control">
            <option>Select Leave Type</option>
            @foreach (var leaveType in LeaveTypeVMs)
            {
                <option value="@leaveType.Id">@leaveType.Name</option>
            }
        </InputSelect>
        <ValodationMessage For="@(() => LeaveRequest.LeaveTypeId)" />
    </div>
    <div class="form-group">
        <label for="comments">Comments</label>
        <InputTextArea @bind-Value="LeaveRequest.RequestComments" id="comments" class="form-control" MaxLength="300" />
        <ValodationMessage For="@(() => LeaveRequest.RequestComments)" />
    </div>
    
    <button type="submit" class="btn btn-success">Submit Request</button>
</EditForm>